body {
  font-size: 16px;
  color: white;
  background-color: #1f272f;
  padding: 0 1em;
}

div#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  text-align: center;
  margin: 20vh auto 0 auto;
  max-width: 45em;
  padding: 1em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1em;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.buttons a {
  text-decoration: underline;
  transition: 0.2s;
}

.buttons a:hover {
  background-color: white;
  cursor: pointer;
}