.results-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.group-container {
  display: flex;
  flex-direction: column;
}

.group-container > p {
  font-size: 1.4em;
}

.group-results {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 0.2em 0.4em;
  border-radius: 5px;
  background-color: #40bcf4;
  color: black;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.result:hover {
  background-color: white;
}