.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.bar-and-btn {
  display: flex;
  justify-content: center;
  gap: 1em;
  width: 100%;
}

.bar-and-btn input {
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 2px solid white;
  color: #00df53;
}

.bar-and-btn button {
  background-color: #00df53;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  padding: 0.5rem 1rem;
  transition: 0.2s ease-in-out;
}

.bar-and-btn button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.bar-and-btn button:active {
  transform: scale(0.9);
}


.bar-and-btn > div {
  flex: 1;
}

input {
  width: 100%;
}