.modal-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.modal-text b {
  color: #fe7f00;
}

.modal-text i {
  color: #00df53;
}

.modal-text span {
  color: #40bcf4;
}